{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center my-5">
                <h1 class="mb-0">Dashboard</h1>
                <div>
                    <a href="{{ url_for('dashboard_bp.add_project') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Project</a>
                </div>
            </div>
            {% for project in projects %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card shadow-sm border-0 h-100">
                        <div class="card-body text-center"> <!-- Added "text-center" class to center the card title -->
                            <h2 class="card-title"><a class="text-dark" href="{{ url_for('dashboard_bp.project_details', project_id=project.id) }}">{{ project.name }}</a></h2>
                            <div class="d-flex justify-content-center"> <!-- Added "d-flex justify-content-center" class to center the icons -->
                                <a href="{{ url_for('project_chat', project_id=project.id) }}" class="btn btn-link text-dark text-decoration-none mr-2 btn-bold"><i class="far fa-comments fa-1x"></i>Chat</a> <!-- Changed "fa-1x" to "fa-2x" and added "btn-bold" class -->
                                <a href="{{ url_for('dashboard_bp.project_documents', project_id=project.id) }}" class="btn btn-link text-decoration-none btn-bold"><i class="fas fa-dochub fa-1x"></i>Documents</a> <!-- Replaced "dashboard_bp.delete_project" with "project_documents" and changed "fa-1x" to "fa-2x" and added "btn-bold" class -->
                            </div>
                            <div class="mt-2"> <!-- Added margin top -->
                                <a href="{{ url_for('dashboard_bp.project_summary', project_id=project.id) }}" class="btn btn-link text-dark text-decoration-none mr-2 btn-bold"><i class="fas fa-list-ul fa-1x"></i> Summary</a> <!-- Changed icon order and added "Summary" text and "btn-bold" class -->
                                <a href="{{ url_for('add_user', project_id=project.id) }}" class="btn btn-link text-dark text-decoration-none btn-bold"><i class="fas fa-stream fa-1x"></i> Add User</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
