{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Project Details</h1>
        <p>Name: {{ project.name }}</p>
        <p>Summary: {{ project.summary }}</p>
        <p>Created at: {{ project.created_at }}</p>
        <p>Version: {{ project.version }}</p>
        <h2>Documents</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in project.documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.created_at }}</td>
                    <td>
                        <a href="{{ url_for('dashboard_bp.document', document_id=document.id) }}" class="btn btn-primary">View</a>
                        <a href="{{ url_for('dashboard_bp.edit_document', document_id=document.id) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('dashboard_bp.add_document', project_id=project.id) }}" class="btn btn-success">Add Document</a>
    </div>
{% endblock %}
