{% extends "base.html" %}

{% block content %}

    <div class="form-container" style="padding-top:60px ">
        <div class="header">
            <h1>{{ project.name }}</h1>
            <a href="{{ url_for('dashboard_bp.add_document', project_id=project.id) }}" class="btn btn-action"><i class="fas fa-plus"></i> Add Document</a>
        </div>
        <div class="project-card">
            <p><strong>Name:</strong> {{ project.name }}</p>
            <p><strong>Created at:</strong> {{ project.created_at }}</p>
        </div>
        <h2>Documents</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.created_at }}</td>
                    <td>
                        <a href="{{ url_for('dashboard_bp.document', document_id=document.id) }}" class="btn btn-link"><i class="fas fa-eye"></i> View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
