{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Project Details</h1>
            <button id="refresh-button" class="btn btn-info pr-10">Refresh</button>
        </div>
        <p>Name: {{ project.name }}</p>
        <p>Summary: {{ project.summary }}</p>
        <p>Created at: {{ project.created_at }}</p>
        <p>Version: {{ project.version }}</p>
        <h2>Documents</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in project.documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.created_at }}</td>
                    <td>
                        <a href="{{ url_for('dashboard_bp.document', document_id=document.id) }}" class="btn btn-primary">View</a>
                        <a href="{{ url_for('dashboard_bp.edit_document', document_id=document.id) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('dashboard_bp.add_document', project_id=project.id) }}" class="btn btn-success">Add Document</a>
    </div>

    <script>
        document.getElementById("refresh-button").addEventListener("click", function() {
            const projectId = '{{ project.id }}'; // Get the project id from the Jinja2 variable
            const projectDomain = '{{ project.company_domain }}'; // Get the project domain from the Jinja2 variable

            fetch(`/refresh_emails?project_id=${projectId}&project_domain=${projectDomain}`, { // Include the project id and project domain as URL parameters
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'same-origin'
            })
                .catch(error => {
                    console.error('Error fetching emails:', error);
                });
        });
    </script>
{% endblock %}
