<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Timeline</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Email Timeline</h1>
    <div id="plot"></div>
</div>

<script>
    var plot = JSON.parse(JSON.stringify('{{ plot | safe }}'));
    Plotly.newPlot('plot', plot.data, plot.layout);
</script>




</body>
</html>
