<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href=href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index-style.css">

</head>
<body>
<!-- Navigation Bar -->
<div class="whole">
    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="/">
            <img src="../static/logo_clear_white.png" width="40" height="40" class="d-inline-block align-top" alt="logo" style="margin-left: 20px">
        </a>

        <div class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link text-capitalize" href="/account_list">Dashboard</a>
                <a class="nav-item nav-link text-capitalize" href="/logout">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <!-- Upper Content Block -->

    <div class="container py-4">
        <div class="content">
            {#        <h2>About Us</h2>#}
            {#        <p>ARRmy is a game-changer for revenue operations. By standardizing the data format and workflows across roles, <br>teams can work more efficiently, reducing friction and allowing more focus on revenue generation.</p>#}

            <h2>ARRmy</h2>
            <ul>
                <li>Streamlined workflows</li>
                <li>Real-time updates in a centralized cloud interface</li>
                <li>Integration with tools like Salesforce and 6sense</li>
                <li>Role-based interfaces and functions</li>
                <!-- More features -->
            </ul>

            <div class="btn-container">
                <a href="/register" class="btn">Join us now!</a>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- Middle Overlay Content Block -->
<div style="position: relative">
    <div style="position: absolute; bottom: 0; left: 0; width: 100%;">
        <!-- SVG element fixed to the bottom of the parent container -->
        <svg _ngcontent-TP_FE-c88="" preserveAspectRatio="none" height="30" width="100%" viewBox="0 0 1440 30" fill="#392A27" xmlns="http://www.w3.org/2000/svg">
            <path _ngcontent-TP_FE-c88="" d="M1440 30H0V9C0 9 44.8 0 116 0C275 0 331.67 29 480.5 29C616 29 722.848 7 860 7C980 7 1090 29 1210 29C1300.532"></path>
        </svg>
    </div>
</div>

<!-- Lower Content Block -->
<div class="container-fluid" style="background-color: #392A27">
    <div class="lower-content">
        <h2>How ARRmy Can Help You</h2>
        <p>ARRmy is a game-changer for revenue operations. By standardizing the data format and workflows across roles, teams can work more efficiently, reducing friction and allowing more focus on revenue generation.</p>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="feature-card">
                    <h3>Marketing</h3>
                    <p>Marketing teams can easily track the progress of their campaigns and leads, and use the information to improve their campaigns.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-card">
                    <h3>Sales</h3>
                    <p>Sales teams can easily keep track of their leads and opportunities, and use the information to improve their sales process.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-card">
                    <h3>Finance</h3>
                    <p>Finance teams can easily keep track of their revenue and expenses, and use the information to improve their financial performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var lowerContent = document.querySelector(".lower-content");
        var featureCards = lowerContent.querySelectorAll('.feature-card');
        var featureCardContainer = document.querySelector(".lower-content .row");

        function addVisibleClass(el, delay) {
            setTimeout(function() {
                el.classList.add('visible');
            }, delay);
        }

        window.addEventListener("scroll", function() {
            var containerOffset = featureCardContainer.getBoundingClientRect().top + window.scrollY;
            var scrollPosition = window.scrollY;
            var windowHeight = window.innerHeight;

            if (scrollPosition + windowHeight > containerOffset) {
                featureCards.forEach(function(card, index) {
                    addVisibleClass(card, index * 300);  // Adjust delay as per requirement
                });
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>