{% extends "base.html" %}

{% block content %}
    <h1>Authorize Application</h1>
    <p>{{ grant.client.client_name }} is requesting access to your account.</p>
    <form method="post">
        <input type="hidden" name="confirm" value="1">
        <button type="submit" class="btn btn-primary">Authorize</button>
    </form>
    <form method="post">
        <input type="hidden" name="confirm" value="0">
        <button type="submit" class="btn btn-danger">Deny</button>
    </form>
{% endblock %}
