{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
    <div class="hero">
        <div class="dashboard">
            <div class="dashboard-header">
                <h1>Dashboard</h1>
                <a href="{{ url_for('dashboard_bp.add_project') }}" class="btn btn-action"><i class="fas fa-plus"></i> Add Project</a>
            </div>
            <div class="projects">
                {% for project in projects %}
                    <div class="project-card">
                        <h2><a href="{{ url_for('dashboard_bp.project_details', project_id=project.id) }}">{{ project.name }}</a></h2>
                        <div class="project-actions">
                            <a href="{{ url_for('project_chat', project_id=project.id) }}" class="btn btn-link"><i class="far fa-comments"></i> Chat</a>
                            <a href="{{ url_for('dashboard_bp.project_documents', project_id=project.id) }}" class="btn btn-link"><i class="fas fa-dochub"></i> Documents</a>
                            <a href="{{ url_for('dashboard_bp.project_summary', project_id=project.id) }}" class="btn btn-link"><i class="fas fa-list-ul"></i> Summary</a>
                            <a href="{{ url_for('project_members', project_id=project.id) }}" class="btn btn-link"><i class="fas fa-stream"></i> Add User</a>
                            <a href="{{ url_for('dashboard_bp.project_mapping', project_id=project.id) }}" class="btn btn-link"><i class="fas fa-stream"></i> Timeline</a>
                            <a href="{{ url_for('dashboard_bp.project_function', project_id=project.id) }}" class="btn btn-link"><i class="fas fa-stream"></i> Function</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
