{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="hero">
    <div class="container">
        <div class="form-container">
            <h1>Register</h1>
            <form action="{{ url_for('register') }}" method="post" class="form-styling">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.email(class="form-control form-control-line", placeholder="Email") }}
                    <label for="{{ form.email.id }}"></label>
                </div>
                <div class="input-group">
                    {{ form.password(class="form-control form-control-line", placeholder="Password") }}
                    <label for="{{ form.password.id }}"></label>
                </div>
                <div class="input-group">
                    {{ form.password2(class="form-control form-control-line", placeholder="Confirm Password") }}
                    <label for="{{ form.password2.id }}"></label>
                </div>
                <div class="button-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
    </div>
{% endblock %}
